html,
body {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    height: 100%;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
    display: none;
}

.wrapper{
    min-height: 100%;
    text-align: center;
}

.footer {
    width: 100%;
    height: calc(8vh + 2vw);
    margin-top: calc(-8vh + -2vw);
    text-align: center;
}

.subtitle {
    background: rgb(0, 0, 0, 0);
    font-family: "Helvetica", "San Francisco",
        "Helvetica Neue",
        Arial, Sans-Serif;
    font-size: calc(2vh + 1vw);
    font-weight: 200;
    line-height: calc(4vh + 1vw);
    color: #fefef2;
    text-shadow: 3px 1px 4px #222;
    text-align: left;
    width: 70%;
    max-height: calc(8vh + 2vw);
    left: 100px;
    right: 100px;
    display: inline-block;
    flex-direction: column-reverse;
    overflow-wrap: break-word;
    overflow: hidden;
}

@keyframes smooth-in {
    0% {
        transform: translateX(-100vw) scale(1.0);
        opacity: 0.0;
    }

    100% {
        transform: translateX(0vw) scale(1.0);
        opacity: 1.0;
    }
}

@keyframes smooth-out {
    0% {
        transform: translateX(0vw) scale(1.0);
        opacity: 1.0;
    }

    99% {
        transform: translateX(100vw) scale(0.2);
        opacity: 0.0;
    }

    100% {
        transform: translateX(100vw) scale(0.2);
        opacity: 0.0;
    }
}