<!DOCTYPE html>
<html>
<head>
    <title>Caption Display</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class="wrapper">
        <div id="translation" class="subtitle"></div>
    </div>
    <div class="footer">
        <div id="caption" class="subtitle"></div>
    </div>

</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
<script>
    // Create a WebSocket connection using Socket.IO
    const socket = io();
    var show = "{{ language }}".split(',');
    const caption_elements = document.getElementsByClassName("subtitle");
    // When a message is received from the server
    socket.on('webcaption', function(caption) {
        if (caption.state == "recognized"){
            return;
        }
        if (show.length > 2){
            show = show.slice(0, 2);
        }
        for (let i = 0; i < show.length; i++) {
            caption_index = 1 - i; 
            if (show[i] == 'original') {
                caption_elements[caption_index].innerHTML = caption.text;
            } else {
                // add if statement to check if the translation exists
                caption_elements[caption_index].innerHTML = caption.translations[show[i]] === undefined ? '' : caption.translations[show[i]];
            }            
            caption_elements[caption_index].scrollTop = caption_elements[caption_index].scrollHeight;
        }
    });
</script>
