<!DOCTYPE html>
<html>
<head>
    <title>Caption Display</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
        integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/static/style_mobile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header class="d-flex align-items-center pb-3">
    </header>
    <main>
        <div class="container">
            <div class="dropdown" id="language_dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Original
                </button>
                <ul class="dropdown-menu">
                </ul>
            </div>
            <div class="wrapper">
                <div id="translation" class="subtitle">
                    <div id="recognizing"></div>
                </div>
            </div>
        
        </div>
    </main>
    
</body>
</html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
        integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    // Create a WebSocket connection using Socket.IO
    const socket = io();
    const translation_element = document.getElementById('translation');
    var available_languages = [];
    var current_language = 'Original';

    // When a message is received from the server
    socket.on('webcaption', function(caption) {
        recognizing_element = document.getElementById('recognizing')
        if (caption.state == "recognized") {
            recognized_element = document.createElement("div");
            if (current_language == 'Original') {
                recognized_element.innerHTML = caption.text;
            } else {
                recognized_element.innerHTML = caption.translations[current_language];
            }
            translation_element.insertBefore(recognized_element, recognizing_element);
            recognizing_element.innerHTML = '';
        }else{
            if (current_language == 'Original') {
                recognizing_element.innerHTML = caption.text;
            } else {
                recognizing_element.innerHTML = caption.translations[current_language];
            }
        }
        translation_element.scrollTop = translation_element.scrollHeight;
    });

    socket.on('available_languages', function(languages) {
        available_languages = languages.languages;
        const language_dropdown = document.getElementById('language_dropdown');
        const dropdown_menu = language_dropdown.querySelector('.dropdown-menu');
        dropdown_menu.innerHTML = '';
        available_languages.forEach(language => {
            const dropdown_item = document.createElement('li');
            dropdown_item.innerHTML = `<a class="dropdown-item" href="#">${language}</a>`;
            dropdown_menu.appendChild(dropdown_item);
        });
        // Add event listener to dropdown items
        dropdown_menu.querySelectorAll('.dropdown-item').forEach(item => {
            item.addEventListener('click', function() {
                const target = item.innerHTML;
                // change language button text
                language_dropdown.querySelector('button').innerHTML = target;
                current_language = target;
                // clear translation element
                translation_element.innerHTML = '';
                // add recognizing element
                recognizing_element = document.createElement('div');
                recognizing_element.id = 'recognizing';
                translation_element.appendChild(recognizing_element);
            });
        });
    });
</script>
